<!DOCTYPE html>
<html>
<head>
  <title>PunduitDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user.nil? %>
  <%= link_to 'Login', new_user_session_path %>
<% else %>
    <%= link_to 'Signout', destroy_user_session_path, method: :DELETE %>
    <% app_sections.each do |section| %>
        <%= link_to section[:name], section[:path] %>
    <% end %>
<% end %>

<%= yield %>

</body>
</html>
